aside {
  grid-area: sidebar;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--whitesmoke);
}

aside img {
  width: 8rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
  width: 100%;
}

.container h1 {
  font-size: 1.6rem;
  cursor: default;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65vh;
}

.loginForm .loginHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm .loginHeader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loginForm .loginHeader .inputGroup {
  width: 70%;
}

.loginForm .loginHeader .inputGroup input {
  background: var(--light-grey);
  color: var(--deep-grey);
  padding: 0 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  transition: 0.1s;
  border: 0;
}

.loginForm .loginHeader .inputGroup input:focus {
  border: 1px solid var(--light-black);
  background: var(--whitesmoke);
}

.loginForm .loginHeader .inputGroup input:focus:hover {
  background: var(--whitesmoke);
}

.loginForm .loginHeader .inputGroup input:hover {
  background: var(--light-grey-3);
}

.loginForm .loginHeader .inputGroup input::placeholder {
  color: var(--medium-grey);
}

.loginForm .loginHeader .inputGroup input[type="text"],
input[type="password"] {
  border-radius: 4px;
  width: 100%;
  height: 3.5rem;
}

.loginForm .loginHeader .inputGroup input[type="text"] {
  margin-top: 1.5rem;
}

.loginForm .loginHeader .inputGroup .invalidUsername {
  background: var(--pink-background);
  border: 2px solid var(--pink-border);
}

.loginForm .loginHeader .inputGroup .invalidUsername:hover {
  background: var(--pink-background);
}

.loginForm .loginHeader .inputGroup .invalidUsername:focus {
  border: var(--pink-border);
  background: var(--pink-background);
}

.loginForm .loginHeader .inputGroup .invalidUsername:focus:hover {
  background: var(--pink-background);
}

.loginForm .loginHeader .alertMessage {
  width: 70%;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--pink-letters);

  display: flex;
  align-items: flex-start;
}

.loginForm .loginHeader .alertMessage i {
  padding-right: 0.5rem;
}

.loginForm .loginHeader .inputGroup input[type="password"] {
  margin-top: 1.2rem;
}

.loginForm .loginHeader .inputGroup label {
  font-size: 0.8rem;
  color: var(--medium-grey);
  font-weight: bold;
}

.loginForm .loginHeader .alternativeLoginButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  width: 70%;
}

.loginForm .loginHeader .alternativeLoginButtons button {
  width: 33%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.6rem;
  cursor: pointer;
  transition: 0.1s;
}

.loginForm .loginHeader .facebookButton {
  background: var(--blue);
  border: 0;
  margin-right: 0.3rem;
}

.loginForm .loginHeader .facebookButton:hover {
  background: var(--medium-blue);
}

.loginForm .loginHeader .googleButton {
  background: var(--white);
  margin-right: 0.3rem;
  border: 2.25px solid var(--light-grey);
}

.loginForm .loginHeader .googleButton:hover {
  background: var(--medium-white);
  border: 2.25px solid var(--grey-border);
}

.loginForm .loginHeader .appleButton {
  background: var(--black);
  border: 0;
}

.loginForm .loginHeader .appleButton:hover {
  background: var(--medium-black);
}

.loginForm .loginHeader .keepLogin {
  width: 70%;
  margin-top: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.loginHeader .keepLogin input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: var(--light-grey);
  border-radius: 4px;
  padding: 0.5rem;
}

.loginHeader .keepLogin input[type="checkbox"]:hover {
  background: var(--light-grey-2);
}
.loginHeader .keepLogin input[type="checkbox"]:focus {
  border: 0;
}

.loginHeader .keepLogin input[type="checkbox"]:checked {
  background: var(--red) url("../assets/checked.svg") center no-repeat;
}

.keepLogin label {
  padding-left: 0.7rem;
  cursor: pointer;
}

.loginForm .loginFooter {
  margin-bottom: 3rem;
}

.loginForm .loginFooter .submitButtonInvalid {
  background: var(--whitesmoke);
  border: 2px solid var(--light-grey);
  border-radius: 24px;
  padding: 1.2rem;
  color: var(--light-grey);

  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm .loginFooter .submitButtonValid {
  background: var(--red);
  border: 2px solid var(--light-grey);
  border-radius: 24px;
  padding: 1.2rem;
  color: var(--light-grey);

  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm .loginFooter .submitButtonValid:hover {
  background: var(--medium-red);
  cursor: pointer;
}

.container footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container footer .accountOptions a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  color: var(--medium-grey);
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.container footer .accountOptions a:hover {
  color: var(--black);
}

.container footer span {
  display: flex;
  justify-content: flex-end;
  padding-right: 4rem;
  margin-top: -0.7rem;
  font-size: 0.6rem;
  color: var(--grey);
  cursor: pointer;
}

.container footer span:hover {
  color: var(--deep-grey);
}

@media (max-width: 1400px) {
  .container {
    width: 45%;
  }
}

@media (max-width: 950px) {
  .container {
    width: 65%;
  }
}

@media (max-width: 700px) {
  .container {
    width: 95%;
  }

  .container footer span {
    display: none;
  }
}

@media (max-height: 715px) {
  aside img {
    margin-top: 2rem;
  }

  .container {
    margin: 2.5rem auto;
  }
}

@media (max-height: 715px) {
  footer {
    display: none;
  }

  .loginForm .loginFooter {
    margin-bottom: 0rem;
  }
}
